*{
    margin: 0;
    padding: 0;  
    list-style: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em 2.55em 0 2.55em;
}

.brand img{
    height: 3.2em;
    max-height: 4em;
    border-radius: 9px;
}

header .right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-side .search-bar-wrapper{
    font-size: 2.4em;
}

.right-side .search-bar{
    border-radius: 5px;
    font-size: 0.7em;
    width: 15em;
}

.search-bar-wrapper .fa-search:hover{
    cursor: pointer;
}

.right-side .btn-categories{
    background-color: white;
    font-size: 1.6em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin-left: 2em;
    border: 1px solid black;
    border-radius: 9px;
}

.right-side .btn-categories:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.hr-gap{
    margin-top: 1.3vh;
    margin-bottom: 2vh;
}

.main-wrapper-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    row-gap: 2em;
    margin-right: 2.2vw;
    margin-left: 2.2vw;
}

.hide-left-bar{
    position: fixed;
    height: 100vh;
    width: 17em;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0;
    transform: translateX(-110%);
    z-index: 999;
    overflow-y: scroll;

    transition: all 0.6s;
}

.show-left-bar{
    transform: translateX(0);
}

.scroller li{
    height: 2em;
    font-size: 1.5em;
    color: white;
    border: 1px solid white;
    text-align: center;
    line-height: 2em;
    border-radius: 5px;
    margin-top: 3px;
}

.scroller li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.main-wrapper-list .image-manga{
    position: relative;
    color: blue;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.main-wrapper-list .image-manga:hover .name-individual-manga{
    color: black;
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
    z-index: 9;
}

.name-individual-manga{
    position: absolute;
    bottom: 0;
    left: 2%;
    cursor: pointer;
    color: transparent;
}


